header {
  background: #48bfa4;
  color: #fff;
  padding: 5px;
}

body {
  background: #1e2934;
}

h1 {
  background: #48bfa4;
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
}

p {
  margin-bottom: 5px;
}

h2 {
  background: #48bfa4;
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
}

h3 {
  background: #48bfa4;
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
}

h4 {
  background: #48bfa4;
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
}

h5 {
  background: #48bfa4;
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
}

p {
  background: #1e2934;
  color: #fff;
}
