/* app styles */
body {
  font-family: helvetica;
  background: #0045ff
}

header {
  background: #444;
  color: #fff6f6;
  height: 80px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 22px;
}

header section {
  width: 960px;
  margin: 0 auto;
}

h1 {
  margin: 0px 381px;
}

h2 {
  margin: 10px 356px
}

main {
  width: 960px;
  margin: 30px 180px;
}

img.main-banner {
  margin: 0 450px;
}
section.bio {
    margin: 40px 0px 0px 425px;
    color: #fff6f6;
    font-weight: 600;
}

section.education{
  margin: 10px;
  color: #fff6f6;
  font-weight: 600;
}

section.work-history {
  margin: 0px 0px 0px 10px;
  color: #fff6f6;
  font-weight: 600;
}

section.bands {
  float: right;
  margin: -160px;
  color: #fff6f6;
  font-weight: 600;
}

.sub-banners li {
  float: left;
  margin-right: 30px;
  margin-top: 30px;
}

.sub-banners li:last-child {
  margin-right: 0;
}
